---

---

<div
    class="min-h-70vh my-20 flex min-w-full flex-col justify-center bg-transparent p-2 md:p-10"
>
    <div
        class="relative mx-auto w-full max-w-full lg:max-w-6xl xl:max-w-screen-2xl"
    >
        <div
            class="absolute inset-0 mx-auto max-w-[90vw] rotate-3 skew-y-0 transform rounded-3xl bg-gradient-to-r from-purple-300 to-green-300 shadow-lg"
        >
        </div>
        <div
            class="relative mx-auto max-w-[90vw] rounded-3xl bg-white shadow-lg"
        >
            <div class="flex items-center justify-start pt-6 pl-6">
                <span class="mr-2 h-3 w-3 rounded-full bg-red-400"
                ></span>
                <span
                    class="mr-2 h-3 w-3 rounded-full bg-yellow-400"
                ></span>
                <span class="mr-2 h-3 w-3 rounded-full bg-green-400"
                ></span>
            </div>

            <div class="px-8 py-6 md:px-20">
                <!-- nav -->
                <div class="flex items-center justify-between">
                    <div
                        class="flex items-center justify-center gap-1 md:gap-8"
                    >
                        <div
                            class="text-true-gray-800 flex items-center justify-center text-3xl font-bold md:text-5xl"
                        >
                            🛍
                        </div>
                        <!--Input Box-->
                        <label class="relative block">
                            <span class="sr-only">Search</span>
                            <span
                                class="absolute inset-y-0 left-0 flex items-center pl-2"
                            >
                                <svg
                                    class="h-5 w-5 fill-slate-300"
                                    viewBox="0 0 20 20"
                                >
                                    <!-- ... -->
                                </svg>
                            </span>
                            <input
                                class="block w-full rounded-md border border-slate-300 bg-white py-2 pl-3 pr-3 font-bold uppercase text-gray-800 shadow-sm placeholder:font-light placeholder:italic placeholder:text-slate-400 focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500 md:text-3xl"
                                placeholder="YOUR BRAND HERE..."
                                type="text"
                                name="search"
                            />
                        </label>
                        <!--Input Box End-->
                    </div>
                    <div
                        class="items-center justify-center gap-2 md:flex"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
                            ></path>
                        </svg>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
                            ></path>
                        </svg>
                    </div>
                </div>
                <!-- nav -->

                <!-- hero section -->
                <div
                    class="space-between my-8 grid items-center gap-4 lg:my-20 lg:grid-cols-2"
                >
                    <div class="text-left lg:ml-16">
                        <div
                            class="text-3xl font-semibold leading-none text-gray-900 md:text-6xl"
                        >
                            Say Hello 👋 To Your New Store on
                            <span
                                class="bg-green-300 px-2 text-white"
                                >Shopify</span
                            >
                        </div>
                        <div
                            class="text-true-gray-500 my-6 text-lg font-light antialiased md:text-xl"
                        >
                            A better experience for you & your
                            potential customers.
                        </div>
                        <div class="inline lg:hidden">
                            <img
                                src="/undraw_web_shopping_re_owap.svg"
                            />
                        </div>
                        <a
                            href="/schedule/"
                            class="mt-6 hidden whitespace-nowrap rounded-xl bg-gradient-to-br from-purple-500 to-green-300 px-8 py-4 font-normal tracking-wide text-white outline-none transition duration-200 ease-in-out hover:-translate-y-1 hover:shadow-xl focus:outline-none lg:inline"
                        >
                            UPGRADE YOUR STORE TODAY
                        </a>
                        <div class="mt-12 text-center">
                            <a
                                href="/schedule/"
                                class="rounded-xl bg-gradient-to-br from-purple-500 to-green-300 px-8 py-4 font-normal tracking-wide text-white outline-none transition duration-200 ease-in-out hover:-translate-y-1 hover:shadow-xl focus:outline-none lg:hidden"
                            >
                                UPGRADE TODAY
                            </a>
                        </div>
                    </div>
                    <div class="hidden lg:mr-16 lg:inline">
                        <img
                            src="/undraw_web_shopping_re_owap.svg"
                        />
                    </div>
                </div>

                <!-- /hero section -->
            </div>
        </div>
    </div>
</div>