---
import OfferLayout from "../../layouts/OfferLayout.astro";

const scheduleURL = "/schedule/";
const stripeURL = "https://buy.stripe.com/28o29z84nb7aaLS000";
---

<OfferLayout title="Double Conversions Before 🎄">
    <div id="snow" class="z-50 absolute top-0"></div>
    <section class="">
        <div class="container mx-auto p-5 text-center lg:max-w-[1268px]">
            <h1 class="font-bold text-3xl lg:text-5xl">
                Instantly Add $50-250k to your CBD businesses’ monthly run rate
                before this Christmas period
            </h1>
            <p class="mb-10 lg:mb-20 text-md lg:text-lg">
                <br /><br />Our Store Accelerator Method increases store
                conversions dramatically without advertising.
                <br /><br />Why is this important?
                <br /><br />If you run a CBD business, you understand the
                pitfalls of advertising as a strategy to increase sales…
                <br /><br />Endless suspensions & loss of advertising ability
                resulting in unpredictability in your business.
                <br /><br />Are we saying not to advertise? Of course not, but
                should you be focused on it right now? Maybe not… hear us out
                <br /><br />Advertising may get easier for your niche, in fact
                you may have been sold on this very idea… but what if you could
                take instant proactive action to produce not only more
                conversions but predictability…
                <br /><br />Predictability that will pay dividends as
                advertising in the niche becomes more relaxed.
                <br /><br />We’ve identified a crucial conversion bottleneck
                that can be instantly fixed potentially leading to 2x the
                conversions on your store.
                <br /><br />Now, this may sound intriguing, possibly untrue. But
                you know what’s true?
                <br /><br />53% of mobile users leave if a website takes longer
                than 3s on the initial load.
                <br /><br />Coupled together that 85% of E-commerce shoppers are
                on mobile, at the very least 45% of your customers are opting
                out before your store loads.
                <br /><br />We just recently fixed this for a CBD based
                e-commerce brand leading to a 800k-1M transformation from 1
                month to the next without any outside changes or scaling.
                <br /><br />Once the niche is legitimised further in the
                advertising space, your business will be well equipped with a
                higher conversion rate on the backend.
                <br /><br />But how do you know my store is slow??
                <br /><br />If you want to check your site score: you can check
                here. If you score below 50 you’re in a prime position to
                capitalise by implementing this store accelerator system.
                <br /><br />This is not your fault. Most ‘developers’ are middle
                men that buy expensive shopify templates on your behalf and
                charge fat premiums to afford swanky offices.
                <br /><br />Also shopify store development at its heart is built
                on top of a drag and drop system similar to Wordpress, wix,
                squarepass etc.
                <br /><br />The benefit? Shopify gives access to the low level
                backend code of your site allowing it to be optimised by
                competent developers.
                <br /><br />In general, any successful shopify store will have
                many apps installed, some sort of complicated ‘one size fits
                all’ theme, leading to blocks upon blocks of dead, unused code
                slowing your site dramatically.
            </p>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-center">
                <a
                    href={stripeURL}
                    class="py-6 px-4 bg-gradient-to-br from-red-400 to-green-400 text-white w-full mx-auto rounded-xl text-lg hover:-translate-y-1 shadow-lg hover:shadow-xl transition-all duration-300 font-bold astro-VMT4SRVX show"
                    >Let's Fix My Store NOW</a
                >
                <a
                    href={scheduleURL}
                    class="py-6 px-4 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-red-400 to-green-400 w-full mx-auto rounded-xl text-lg hover:-translate-y-1 hover:shadow-xl transition-all duration-100 border-[1px] shadow-lg astro-VMT4SRVX show"
                    >I’d rather wait and talk to the team</a
                >
            </div>
        </div>
    </section>
    <!--
    <script src="/snow.js" defer></script>
     -->
</OfferLayout>
